.contact{

    #contact {
      
          .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
          .v-data-table > .v-data-table__wrapper > table > thead > tr > td,
          .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
              font-size: 14px !important;
            //   text-align: center;
          }
          tr th {
              color: teal !important;
              text-align: center;
              font-size: 14px !important;

          }
          tr td{
              text-align: center;
          }
          tr td:nth-child(2){
              font-weight: 500;
          }
          tr td:nth-child(5){
            //   display: flex;
              text-align: justify;
          }
          tr td:nth-child(6) .v-icon.mdi-pencil{
              color: red;
          }
      }
}
@media screen and (max-width: 600px) {
    .contact{
    overflow-x: auto;

    }
}

