#pagination_select{
      .option{
        width: 160px;
        font-size: 13px;
      }
      ul.vs__dropdown-menu {
        padding-left: 0 !important;
        min-width: none;
        width: 20px !important;
      }
      .vs__selected {
        margin-right: 0 !important;
        padding-right: 20px !important;
      }
      .vs__clear {
        display: none;
      }
      .vs__search{
      padding: 0;
      padding-left: 5px;
      }
}
#demand_table{
  display: block;
  overflow-x: auto;
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
    font-size: 13px!important;
  }
  tr th{
    color: teal!important;
  }
  .v-toolbar__content{
    display: none;
  }
  .v-sheet.theme--light{
   display: none;
  }
  tr td:nth-child(2){
    color: orange;
     font-weight: 700;
     text-align: center;
     font-size: 14px!important ;
     .side{
       font-weight: 500;
       color: gray!important;
     font-size: 13px;

     }
  }
  tr td:nth-child(3){
    text-align: center;
<<<<<<< HEAD
=======
    .highlight {
      color: orange !important;
      margin: 0 5px;
      font-size: 15px;
      font-weight: 500;
    }
  }
  tr td:nth-child(4){
    color: rgb(97, 97, 255);
    font-weight: 700;
>>>>>>> main
  }
  tr th:nth-child(3),th:nth-child(2){
    text-align: center;
  }
<<<<<<< HEAD
  tr td:nth-child(12){
    color: orange;
    font-weight: 700;
  }
  tr td:nth-child(13) .v-icon.mdi-pencil{
    color: green;
  }
  tr td:nth-child(13) .v-icon.mdi-delete{
    color: red;
=======
  tr td:nth-child(11){
    color: rgb(97, 97, 255);
    font-weight: 700;
  }
  tr td:nth-child(12){
    .el-button{
      padding: 8px 10px;
      background: transparent;
      &:hover{
        // background-color: rgb(231, 150, 0);
        color: #E6A23C;
      }
    }
  }
  tr td:nth-child(14){
    // .v-icon{
    //   margin:0 20px 0 0 !important;
    // }
  }
  tr td:nth-child(14) .v-icon.mdi-pencil{
    color: green;
    border-radius: 50%;
    padding: 5px;
    &:hover{
    background: rgba(115, 226, 115, 0.24);
    }
  }
  tr td:nth-child(14) .v-icon.mdi-delete{
    color: red;
    border-radius: 50%;
    padding: 5px;
    &:hover{
    background: rgba(241, 139, 139, 0.164);
    }
  }
  tr td:nth-child(14) .v-icon.mdi-rotate-3d-variant{
    color: blue;
    border-radius: 50%;
    padding: 5px;
    &:hover{
    background: rgba(170, 170, 240, 0.178);
    }
>>>>>>> main
  }
}