#dictionary_table{
  width: 94vw!important;
    tr th{
        color: teal!important;
      }
      .v-toolbar__content{
        display: none;
      }
      .v-sheet.theme--light{
       display: none;
      }
      @media screen and (max-width: 600px) {
        .v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
          font-size: 13px!important;
        }
        padding-right: 10px;
      }
}