.detail{
    .el-input__inner {
        background: #f8f8f8;
        border: 1px solid #d1d1d1;
        box-sizing: border-box;
        border-radius: 16px !important;
        width: 100%;
        margin-right: 20px;
      }
      .time_change{
        tr td:nth-child(3),tr td:nth-child(3){
          vertical-align: top!important;
        }
        p{
          margin-bottom: 5px;
        }
      }
}
p{
  margin-bottom: 5px;
}
.el-popover{
  img.table_change{
    margin: 3px;
  }
}