.detail{
    .el-input__inner {
        background: #f8f8f8;
        border: 1px solid #d1d1d1;
        box-sizing: border-box;
        border-radius: 16px !important;
        width: 100%;
        margin-right: 20px;
      }
}