.el-popup-parent--hidden {
    padding-right: 0px !important;
}
.el-dropdown-menu.el-popper {
    .v-icon {
        font-size: 18px;
        margin-bottom: 4px;
    }
    .el-dropdown-menu__item {
        font-size: 13px !important;
        &:hover {
            color: teal;
            // font-weight: 500;
            background-color: #fdd27f !important;
            .v-icon {
                color: teal;
            }
        }
    }
}
#search {
    margin-left: 100px;
    width: 280px;
    .el-input .el-input__inner {
        border-radius: 15px !important;
        height: 28px;
    }
    .el-input__prefix {
        height: 28px;
        .el-input__icon {
            line-height: 28px !important;
        }
    }
}
@media screen and (max-width: 800px) {
    #search {
        margin-left: 10px;
    }
}
