#select_solution {
    width: 120px;
    background-color: #fff;
    font-size: 11px!important;
    border-radius: 15px!important;
    // .el-select__caret.el-input__icon.el-icon-arrow-up {
    //   display: none;
    // }
    .vs__dropdown-menu {
      min-width: 120px !important;
      font-size: 12px !important;
      margin-top: 0px;
    }
    ul.vs__dropdown-menu {
      padding-left: 0 !important;
      min-width: none;
      width: 16px !important;
      font-size: 12px !important;
    }
    .select-selected {
      background-color: orange;
    }
    .vs__dropdown-toggle {
      background-color: white;
      width: 120px !important;
      border-radius: 15px !important;
    }
    .vs__open-indicator{
        z-index: 9999;
    }
    .vs__selected{
        margin-left: 15px;
        padding: 2px 2px 2px 0!important;
    }
    .vs__search{
        padding-left: 15px;
    }
    .vs__selected-options{
        height: 25px;
    }
    .vs__open-indicator{
        display: none!important;
    }
    .vs__clear{
      display: none;
    }
  }